<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <script async src='/cdn-cgi/bm/cv/669835187/api.js'></script>
</head>

<body>

    <body style="background-color:rgb(223, 220, 209);">
        <center><b>
                <font face="Whitney Bold Italic" size="20px" color="#F01716">State Farm STATE FARM</font>
            </b></center>

        <!-- <center>
            <h1></h1>
            <font face="Trebuchet MS" size="4" color="#F01716">Insert</h1><br>
        </center>
        <center><input type="text" size="10"></center>
        </textarea>
        <center><input type="submit" value="submit" /></center>

        <center>
            <h2></h2>
            <font face="Trebuchet MS" size="4" color="#F01716">Insert</h2><br>
        </center>
        <center><input type="text" size="10"></center>
        </textarea>
        <center><input type="submit" value="submit" /></center>

        <form action="/cgi-bin/hello_get.cgi" method="get">

            <center>
                <h3></h3>
                <font face="Trebuchet MS" size="4" color="#F01716">Insert</h3><br>
            </center>
            <center><textarea rows="5" cols="60" name="description">
    </textarea><br> -->
                <!-- <input type="submit" value="submit" /> -->
                <form action="/location" method="post">

                    <p>Enter Location:</p>


                    <p><input type="text" name="nm" /></p>


                    <p><input type="submit" value="submit" /></p>

                </form>
    </body>

</html>